.message {
    color: rgb(23, 23, 41);
    background-color: rgba(206, 158, 95, 0.746);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app {
    height: 100vh;
    width: 100vw;
    background-color: rgba(253, 140, 64, 0.986);
    position: relative;
}